/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 341px;
    left: 0px;
    top: 2063px;

    /* Dark Blue */

    background: #173664;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
